*{
    font-family:'Lucida Sans'; 
    position: relative;
    top: 20px;
}
body{
    background-color:black; 
}
.date{
    font-size: 40px; 
    color: rgb(255, 255, 255); 
    text-align: left;
    margin-left: 4%;
}
.time{
    font-size: 75px;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-left: 4%;
}
.timer{
    font-size: 100px;
    text-align: center;
    color: white;
    margin-top: 12%;
}
.box{
    background-color: black;
}